<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="default" type="System.Configuration.DictionarySectionHandler,System,Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  
  <!--unity framwork configuration-->
  <unity>
    <typeAliases>
      <!--Lifetime manager types-->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,Microsoft.Practices.Unity"/>
      <!--Custom object types-->
      <typeAlias alias="ILogger" type="TPG.SoftwareFactory.Contract.ILogger, TPG.SoftwareFactory.Contract"/>
      <typeAlias alias="Log4NetLogger" type="TPG.SoftwareFactory.Log4Net.Log4NetLogger, TPG.SoftwareFactory.Log4Net"/>
      <typeAlias alias="ServiceLogger" type="TPG.SoftwareFactory.Service.ServiceLogger, TPG.SoftwareFactory.Service"/>
      <typeAlias alias="EnterpriseLogger" type="TPG.SoftwareFactory.EnterpriseLibrary.EnterpriseLogger, TPG.SoftwareFactory.EnterpriseLibrary"/>
    </typeAliases>
    <containers>
      <container name="LoggerContainer">
        <types>
          <type type="ILogger" mapTo="ServiceLogger">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.14.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <!--Logger service end point configuration-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILogger" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50980/LoggerServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogger"
        contract="LoggerServiceRef.ILogger" name="BasicHttpBinding_ILogger" />
    </client>
  </system.serviceModel>
 
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>