<?xml version="1.0"?>
<configuration>
<configSections>
    <section name="default" type="System.Configuration.DictionarySectionHandler,System,Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />   
</configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="FlatFile TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        traceOutputOptions="None" filter="All" />
      <add name="Formatted EventLog TraceListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        source="EnoughPI" formatter="Text Formatter" log="Application"
        machineName="" traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
        template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="ActivityTracing" name="Trace">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <!--Enable/Disable log4nwt debugging -->
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <!--Enable / Disable Log4net internal error log-->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--Log4net - Configuration-->
  
  <log4net debug="True">
    <!--Log4net - File Logger configuration-->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <!--Log file path-->
      <file value="D:\TPG.SoftwareFactory\ConsoleClient\Logs\AppLog.log"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <threshold value="ALL"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss} %logger %-5level %message%newline"/>
      </layout>
    </appender>
    <logger name="FileAppender">
      <appender-ref ref="FileAppender"/>
    </logger>

    <!--<appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="server=NDI-LAP-215\MSSQLSERVER2008; uid=sa; pwd=Brick@123; database=AustData" />
      <commandText value="INSERT INTO ACPLog ([Thread],[Level],[Logger],[Message]) VALUES (@thread, @log_level, @logger, @message)" />
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
    <logger name="ADONetAppender">
      <appender-ref ref="ADONetAppender"/>
    </logger>-->
  </log4net>
  
  <unity>
    <typeAliases>
      <!--Lifetime manager types-->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,Microsoft.Practices.Unity"/>
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,Microsoft.Practices.Unity"/>
      <!--Custom object types-->
      <typeAlias alias="ILogger" type="TPG.SoftwareFactory.Contract.ILogger, TPG.SoftwareFactory.Contract"/>
      <typeAlias alias="Log4NetLogger" type="TPG.SoftwareFactory.Log4Net.Log4NetLogger, TPG.SoftwareFactory.Log4Net"/>
      <typeAlias alias="ServiceLogger" type="TPG.SoftwareFactory.Service.ServiceLogger, TPG.SoftwareFactory.Service"/>
      <typeAlias alias="EnterpriseLogger" type="TPG.SoftwareFactory.EnterpriseLibrary.EnterpriseLogger, TPG.SoftwareFactory.EnterpriseLibrary"/>
    </typeAliases>
    <containers>
      <container name="LoggerContainer">
        <types>
          <type type="ILogger" mapTo="EnterpriseLogger">
            <lifetime type="singleton"/>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  
  <!--<unity>
    <alias alias="ITestLogger" type="TPG.SoftwareFactory.Contract.ITestLogger, TPG.SoftwareFactory.Contract" />
    <namespace name="TPG.SoftwareFactory.Logger.Log4Net.Log4NetTest" />
    <assembly name="3Pillar.SoftwareFactory.Logger.Log4Net" />
    <container>
      <register type="ITestLogger" name="special" mapTo="Log4NetTest" />
    </container>
  </unity>-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <!--Log4net - Configuration-->
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.14.0" newVersion="2.1.505.0"/>
      </dependentAssembly>
    	<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0"/>
			</dependentAssembly>
		</assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILogger"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50980/LoggerServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogger" contract="LoggerServiceRef.ILogger" name="BasicHttpBinding_ILogger"/>
    </client>
  </system.serviceModel>
</configuration>
